user www-data;
worker_processes  1;

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

events {
  worker_connections  1024;
}

http {
  include       <%= node[:openresty][:work_dir] %>/mime.types;
  default_type  application/octet-stream;
   
   server {
      listen        <%= node[:openresty][:nginx_port] %>;
      server_name   localhost;
      location / {
         root    /usr/share/nginx/html;
         index   index.html index.htm;
         default_type text/html;
         content_by_lua 'ngix.say("<p>hello,world<p>")';
      }  
   }
}
